select {
    height: 32px;
    padding: 4px 8px;
    border-radius: 5px;
}

.color-indicator {
    text-align: center;
    
    .color {
        height: 24px;
        width: 24px;
        border-radius: 50px;
        display: inline-block;
        margin: 4px 8px;

        &.green {
            background: #33d202;
        }

        &.red {
            background: #d2022e;
        }
    }
    
    .text {
        position: relative;
        top: -12px;
        margin-right: 4px;
    }
}