/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

.gm-style-iw {
    > div {
        padding: 10px 16px;

        .agm-info-window-content {
            > div {
                span {
                    font-weight: 500;
                    width: 170px;
                    display: inline-block;
                    line-height: 20px;
                }
            }
        }
    }
}
